altgraph==0.17
appdirs==1.4.4
asgiref==3.3.4
atomicwrites==1.4.0
attrs==20.3.0
auto-py-to-exe==2.9.0
Babel==2.9.1
backcall==0.2.0
boto3==1.17.105
botocore==1.20.105
bottle==0.12.19
bottle-websocket==0.2.9
certifi==2020.12.5
cffi==1.14.5
colorama==0.4.4
decorator==5.0.7
distlib==0.3.1
dj-database-url==0.5.0
Django==3.2.4
django-heroku==0.3.1
django-storages==1.11.1
Eel==0.12.4
et-xmlfile==1.1.0
filelock==3.0.12
fpdf2==2.3.5
future==0.18.2
gevent==21.1.2
gevent-websocket==0.10.1
greenlet==1.1.0
gunicorn==20.1.0
iniconfig==1.1.1
ipykernel==5.5.3
ipython==7.23.0
ipython-genutils==0.2.0
jedi==0.18.0
jmespath==0.10.0
matplotlib-inline==0.1.2
mysql-connector-python==8.0.24
openpyxl==3.0.7
packaging==20.9
parso==0.8.2
pefile==2021.5.24
pickleshare==0.7.5
Pillow==8.2.0
pipenv==2020.11.15
pluggy==0.13.1
prompt-toolkit==3.0.18
protobuf==3.15.8
psycopg2==2.9.1
py==1.10.0
pycparser==2.20
Pygments==2.8.1
PyMySQL==1.0.2
pyparsing==2.4.7
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pytest==6.2.3
python-dateutil==2.8.1
python-decouple==3.4
pytz==2021.1
pywin32-ctypes==0.2.0
pyzmq==22.0.3
s3transfer==0.4.2
six==1.15.0
sqlparse==0.4.1
tkcalendar==1.6.1
toml==0.10.2
tornado==6.1
traitlets==5.0.5
urllib3==1.26.6
virtualenv==20.4.4
virtualenv-clone==0.5.4
wcwidth==0.2.5
whichcraft==0.6.1
whitenoise==5.2.0
zope.event==4.5.0
zope.interface==5.4.0
