{% extends 'application/base.html' %}

{% block content %}   
    <center>
    <h1 style="color: red;">Application Form</h1>
    <p>Please fill all the fields below</p>
    <br/><br/>

    {% if submitted %}
        Form was Submitted Succefully!

    {% else %}

    
    <form action="" method=POST>
        {% csrf_token %}

        {{ form.as_p }}

        <input type="submit", value="Submit" class="btn btn-secondary">
    </form>
    {% endif %}

    </center>


{% endblock %}